.board {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.cell {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.comp {
    color: grey;
}

.text {
    color: green;
}

.title {
    color: red;
}

.rowMain {
    color: red;
    text-align: center;
    margin: auto;
    min-height: 200px;
    padding: 20px;
}