*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* --cell-width: 100px;
    --cell-height: 125px; */
    --cell-size: 100px;
    /* Inner cell to be smaller of the outer bordered cell 80%*/
    --mark-size: calc(var(--cell-size) * .9);
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.board {
    width: 100vh;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    /* width: var(--cell-width);
    height: var(--cell-height); */
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
border-top: none;}

.cell:nth-child(3n +1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8)  {
    border-bottom: none;
}

.cell.player_x::before,
.cell.player_x::after {
    content: '';
    background-color: black;
    width: calc(var(--mark-size) * .1);
    height: var(--mark-size);
    position: absolute;
}

.cell.player_x::before {
    transform: rotate(-45deg);
}

.cell.player_x::after {
    transform: rotate(45deg);
}

.cell.player_0::before,
.cell.player_0::after {
    content: '';
    background-color: black;
    width: var(--mark-size);
    height: var(--mark-size);
    position: absolute;
    border-radius: 50%;
}

.cell.player_0::after {
    background-color: white;
    width: calc(var(--mark-size) * .8);
    height: calc(var(--mark-size) * .8);
}