*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* --cell-width: 100px;
    --cell-height: 125px; */
    --cell-size: 100px;
    /* Inner cell to be smaller of the outer bordered cell 80%*/
    --mark-size: calc(var(--cell-size) * .9);
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.board {
    width: 100vh;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    /* width: var(--cell-width);
    height: var(--cell-height); */
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
border-top: none;}

.cell:nth-child(3n +1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8)  {
    border-bottom: none;
}

.cell.player_x::before,
.cell.player_x::after,
.board.player_x .cell:hover::after,
.board.player_x .cell:hover::before {
    content: '';
    background-color: black;
    width: calc(var(--mark-size) * .1);
    height: var(--mark-size);
    position: absolute;
}

.cell.active {
cursor: not-allowed;}

.cell.player_x::before,
.board.player_x .cell:hover::before {
    transform: rotate(-45deg);
}

.cell.player_x::after,
.board.player_x .cell:hover::after {
    transform: rotate(45deg);
}

.cell.player_0::before,
.cell.player_0::after {
    content: '';
    background-color: black;
    width: var(--mark-size);
    height: var(--mark-size);
    position: absolute;
    border-radius: 50%;
}

.cell.player_0::after {
    background-color: white;
    width: calc(var(--mark-size) * .8);
    height: calc(var(--mark-size) * .8);
}

.board.player_x .cell:hover::after,
.board.player_x .cell:hover::before {
    background-color: grey;
}

.board.player_0 .cell:not(.player_x):hover::after,
.board.player_0 .cell:not(.player_x):hover::before {
    content: '';
    background-color: grey;
    width: var(--mark-size);
    height: var(--mark-size);
    position: absolute;
    border-radius: 50%;
}

.board.player_0 .cell:not(.player_x):hover::after {
    background-color: white;
    width: calc(var(--mark-size) * .8);
    height: calc(var(--mark-size) * .8);
}

.game-message,
.board {
    position: relative;
    margin: auto;
}

.game-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 99, 71, 0.5);
}

.hide {
    display: none;
}

.game-message button#restart {
    color: white;
    background-color: grey;
    border: none;
    width: 200px;
    height: 40px;
    position: relative;
    left: 40%; 
    top: 75%;   
}

.messageText {
    color: red;
    position: relative;
    left: 47%; 
    top: 75%;
    font-size: 30px;   
}



/* .game-message {
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px;
    width: 200px;
    background-color: red;
    bottom: 30%;
} */